@font-face{
    font-family: Rosario;
    src: url('../fonts/rosario/Rosario-Regular.ttf'),
        url('../fonts/rosario/Rosario-Regular.ttf');
}

@font-face{
    font-family: Margot;
    src: url('../fonts/margot/Margot-Regular.ttf'),
        url('../fonts/margot/Margot-Regular.ttf');
}

@font-face{
    font-family: Homizio;
    src: url('../fonts/homizio/regular.ttf'),
        url('../fonts/homizio/regular.ttf');
}

* { font-family: Rosario !important;  color: white;}   //aplica la fuenta a todos los elementos