@font-face{
    font-family: Rosario-regular;
    src: url('../fonts/rosario/Rosario-Regular.ttf'),
        url('../fonts/rosario/Rosario-Regular.ttf');
}

@font-face{
    font-family: Rosario-bold;
    src: url('../fonts/rosario/Rosario-Bold.ttf'),
    url('../fonts/rosario/Rosario-Bold.ttf');
}
@font-face{
    font-family: Rosario-italic;
    src: url('../fonts/rosario/Rosario-Italic.ttf'),
    url('../fonts/rosario/Rosario-Italic.ttf');
}

@font-face{
    font-family: Rosario-bold-italic;
    src: url('../fonts/rosario/Rosario-BoldItalic.ttf'),
    url('../fonts/rosario/Rosario-BoldItalic.ttf');
}

/* Otras opciones
@font-face{
    font-family: Margot;
    src: url('../fonts/margot/Margot-Regular.ttf'),
        url('../fonts/margot/Margot-Regular.ttf');
}

@font-face{
    font-family: Homizio;
    src: url('../fonts/homizio/regular.ttf'),
        url('../fonts/homizio/regular.ttf');
}

@font-face{
    font-family: Smidswater;
    src: url('../fonts/smidswater/Smidswater Regular/SmidsReg.ttf'),
    url('../fonts/smidswater/Smidswater Regular/SmidsReg.ttf');
}
*/

* { font-family: Rosario-regular;}

#bienvenido_message_wrap{
	background-color: green;
	width: 90%;
	margin: 0 auto;
	border-radius: 25px;
}

#bienvenido_message{
    color:white;
    font-family: Rosario-Bold-italic;
    font-size: 23px;
}

.login_wrapper{
    margin: 0 auto;
    background: linear-gradient(#459e00, #275420); 
    //width: 45%;
    width: 600px;
    border: 2px solid;
    border-radius: 25px;
    opacity: 0.9;
    color:white;
}

#cargando {
    display: none;
    text-align: center;
    width: 100%;
    background: white;
    opacity: 0.6;
    filter:alpha(opacity=60);
    padding: 20px;
    //display: none;
    position: absolute;
    height: 100%;
    min-height: 400px;
    top: 0px;
    padding-top: 100px;
    z-index: 2;
}

@media screen and (max-width: 1000px){
    .responsive_2{
        width: 90%;
    }
    .login_wrapper{
        width: 400px;
    }
}

@media screen and (max-width: 540px){
    .responsive_2{
        width: 480px;
    }
}

#main_wrapper{ 
    width: 90%;
    //background-color: black;
    margin: 0 auto;
}
    
.lay{   //estilo de layers de tabla
    //background-color: red;
}

#footer{
    background-color: white;
}

#btn_salir_first_steps{
    margin-top: 5px;
    float:right;
}

.overlay{
    opacity:0.5;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.transparent_overlay{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1012;
}

.nav-pills-my{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

h1{
    word-wrap: break-word;
}

#close{
    opacity: .8;
}