@font-face{
    font-family: Rosario;
    src: url('../fonts/rosario/Rosario-Regular.ttf'),
        url('../fonts/rosario/Rosario-Regular.ttf');
}

@font-face{
    font-family: Margot;
    src: url('../fonts/margot/Margot-Regular.ttf'),
        url('../fonts/margot/Margot-Regular.ttf');
}

@font-face{
    font-family: Homizio;
    src: url('../fonts/homizio/regular.ttf'),
        url('../fonts/homizio/regular.ttf');
}

* { font-family: Rosario !important;  color: white;}

#bienvenido_message{
	background-color: green;
	width: 90%;
	margin: 0 auto;
	border-radius: 25px;
	color:white;
}

.form-horizontal{
    margin: 0 auto;
    background: linear-gradient(#459e00, #275420); 
    width: 500px;
    border: 2px solid;
    border-radius: 25px;
    opacity: 0.9;
}

#cargando {
    text-align: center;
    width: 100%;
    background: white;
    opacity: 0.6;
    filter:alpha(opacity=60);
    padding: 20px;
    //display: none;
    position: absolute;
    height: 100%;
    min-height: 400px;
    top: 0px;
    padding-top: 100px;
    z-index: 2;
}