@font-face{
    font-family: Rosario;
    src: url('../fonts/rosario/Rosario-Regular.ttf'),
        url('../fonts/rosario/Rosario-Regular.ttf');
}

@font-face{
    font-family: Margot;
    src: url('../fonts/margot/Margot-Regular.ttf'),
        url('../fonts/margot/Margot-Regular.ttf');
}

@font-face{
    font-family: Homizio;
    src: url('../fonts/homizio/regular.ttf'),
        url('../fonts/homizio/regular.ttf');
}

* { font-family: Rosario !important;  color: white;}

#bienvenido_message{
	background-color: green;
	width: 90%;
	margin: 0 auto;
	border-radius: 25px;
	color:white;
}

.form-horizontal{
    margin: 0 auto;
    background: linear-gradient(#459e00, #275420); 
    width: 500px;
    border: 2px solid;
    border-radius: 25px;
    opacity: 0.9;
}

#cargando {
    text-align: center;
    width: 100%;
    background: white;
    opacity: 0.6;
    filter:alpha(opacity=60);
    padding: 20px;
    //display: none;
    position: absolute;
    height: 100%;
    min-height: 400px;
    top: 0px;
    padding-top: 100px;
    z-index: 2;
}


@media screen and (max-width: 1250px) {
    .responsive{
        width: 180px;
        background-color: black;
    }
}

@media screen and (max-width: 1000px) {
    .responsive{
        width: 160px;
        background-color: blue;
    }
}

@media screen and (max-width: 850px) {
    .responsive{
        width: 130px;
        background-color: green;
    }
}

@media screen and (max-width: 700px) {
    .responsive{
        width: 110px;
        background-color: yellow;
    }
}

@media screen and (max-width: 580px) {
    .responsive{
        width: 95px;
        background-color: green;
    }
}

@media screen and (max-width: 510px) {
    .responsive{
        width: 80px;
        background-color: black;
    }
}
@media screen and (max-width: 430px) {
    .responsive{
        width: 72px;
        background-color: red;
    }
}